<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Devices running Android 12L (API level 32) or lower -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeAko"
        tools:targetApi="tiramisu">
        <activity
            android:name=".user.activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".utils.profile_settings.ChangePhone"
            android:exported="false" />
        <activity
            android:name=".user.activity.contact.ContactFacility"
            android:exported="false" />
        <activity
            android:name=".user.activity.all_vid.ViewAllVideo"
            android:exported="false" />
        <activity
            android:name=".user.activity.impact_awareness.ImpactAwareness"
            android:exported="false" />
        <activity
            android:name=".utils.profile_settings.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".utils.profile_settings.ChangeAvatar"
            android:exported="false" />
        <activity
            android:name=".utils.profile_settings.ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".admin.staff.MyStaff"
            android:exported="false" />
        <activity
            android:name=".admin.staff.AddStaff"
            android:exported="false" />
        <activity
            android:name=".user.activity.prevention.PreventionMethodActivity"
            android:exported="false" />
        <activity
            android:name=".admin.appointment.ViewSchedule"
            android:exported="false" />
        <activity
            android:name=".admin.appointment.ViewAppointment"
            android:exported="false" />
        <activity
            android:name=".admin.appointment.Appointment"
            android:exported="false" />
        <activity
            android:name=".admin.assessment.AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".admin.assessment.ViewAssessment"
            android:exported="false" />
        <activity
            android:name=".user.activity.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.sti.StiActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.admin_list.AdminListActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.user_avatar.AddAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.chat_activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.AdminHomeDashboard"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserHomeDashboard"
            android:exported="false" />
        <activity
            android:name=".authentication.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.signup.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".welcome_page.WelcomeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome_page.WelcomeActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>